<header id="header">
    <hgroup>
        <h2 class="section_title">Movie Collectorz</h2>
    </hgroup>
</header> <!-- end of header bar -->

<section id="secondary_bar">
    <div class="movie">
        <p>Adding a new movie</p>
    </div>
</section><!-- end of secondary bar -->

<aside id="sidebar" class="column">
    <h3>Actions</h3>
    <ul class="toggle">
        <li class="icn_view_movies"><a href="#">List Movies</a></li>
        <li class="icn_add_movie"><a href="#">New Movie</a></li>
    </ul>
    <hr />
</aside><!-- end of sidebar -->


<section id="main" class="column">

    
    <article class="module width_full" id="new_movie">
        <header><h3>New Movie</h3></header>
        <div class="module_content">
            <form id="new_contact_form">
                <fieldset>
                    <label>Name</label>
                    <input type="text" id="new_name_input" placeholder="Movie name">
                </fieldset>
                <fieldset>
                    <label>Director</label>
                    <input type="text" id="new_director_input" placeholder="Movie director">
                </fieldset>
                <fieldset>
                    <label>Year</label>
                    <input type="text" id="new_year_input" placeholder="Movie year">
                </fieldset>
                <fieldset>
                    <label>cast</label>
                    <input type="text" id="new_cast_input" placeholder="Full cast">
                </fieldset>
                <fieldset>
                    <label>Sinopsis</label>
                    <textarea id="new_sinopsis_input" rows="10" placeholder="Sinopsis"></textarea>
                </fieldset>
                <fieldset>
                    <label>Image</label>
                    <input type="text" id="new_image_input" value="http://placehold.it/370x175" placeholder="Enter the source of the image">
                </fieldset>
                <div class="clear"></div>
            </form>
        </div>
        <footer>
            <div class="footer">
                <input type="submit" value="Save" class="alt_btn" ng-click="savedata()">
                <input type="submit" value="Reset" id="reset_button">
            </div>
        </footer>
    </article><!-- end of new movie -->

    <div class="spacer"></div>
</section>