<header id="header">
    <hgroup>
        <h2 class="section_title">Movie Collectorz</h2>
    </hgroup>
</header> <!-- end of header bar -->

<section id="secondary_bar">
    <div class="movie">
        <p>Movie detail <a ng-href='#'>Click to return to the list</a></p>
    </div>
</section><!-- end of secondary bar -->



<section id="detail" class="column_detail">

    <div id="movie_list">
        <article>
            <article class="module detail_width">
                <header>
                    <h3>{{movie.name}}</h3>
                </header>
                <div class="module_content">
                    <article class="img_movie">
                        <a href="#/movies/{{movie.id}}"><img ng-src="{{movie.img}}" alt=""></a>
                    </article>

                    <article class="movie_detail">
                        <div class="module_content">
                            <h2>{{movie.director}}</h2>
                            <h3>{{movie.year}}</h3>
                            <h4>{{movie.cast}}</h4>
                            <p>{{movie.sinopsis}}</p>
                        </div>
                    </article>
                    <article class="movie_edit_detail">
                        <div class="module_content">
                            <fieldset>
                                <label>Name</label>
                                <input type="text" id="edit_name_input" value="{{movie.name}}">
                            </fieldset>
                            <fieldset>
                                <label>Director</label>
                                <input type="text" id="edit_director_input" value="{{movie.director}}">
                            </fieldset>
                            <fieldset>
                                <label>Year</label>
                                <input type="text" id="edit_year_input" value="{{movie.year}}">
                            </fieldset>
                            <fieldset>
                                <label>cast</label>
                                <input type="text" id="edit_cast_input" value="{{movie.cast}}">
                            </fieldset>
                            <fieldset>
                                <label>Sinopsis</label>
                                <textarea id="edit_sinopsis_input" rows="10">{{movie.sinopsis}}</textarea>
                            </fieldset>
                            <fieldset>
                                <label>Image</label>
                                <input type="text" id="edit_image_input" value="{{movie.img}}">
                            </fieldset>
                            <div class="clear"></div>
                            <input type="submit" value="Save" class="alt_btn" id="edit_button">
                        </div>
                    </article>
                    <div class="clear"></div>
                </div>
            </article><!-- end of stats article -->
        </article>
    </div>

    <div class="clear"></div>

    <div class="spacer"></div>
</section>